.om-s {
  width: 100%;
}

.om-s__l {
  font-size: 1.1em;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.om-s__a {
  width: calc(100% - 30px);
  height: 40vh;
  padding: 12px 15px;
  border: 1px solid #06c4bf;
  overflow: scroll;
}

.om-s__a:focus {
  outline: none;
}

.om-s__c {
  width: calc(100% - 30px);
  padding: 12px 15px;
  background: #f7f8fb;
  border: 1px solid #06c4bf;
  border-bottom: 0;
  display: flex;
}

.om-s__c__item {
  padding-right: 12px;
}