.om-s
  width 100%

  &__l
    font-size 1.1em
    font-weight 300
    font-family Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
    text-transform uppercase

  &__a
    width calc(100% - 30px)
    height 40vh
    padding 12px 15px
    border 1px solid #06c4bf
    overflow scroll

    &:focus
      outline none

    span[style~="color:"] a
      color inherit

    a
      color #0098f7
      text-decoration none 

      &:hover
        text-decoration underline
    
    img
      width 100%

  &__c
    position relative
    width calc(100% - 30px)
    padding 12px 15px
    background #f7f8fb
    border 1px solid #06c4bf
    border-bottom 0
    display flex
    flex-wrap wrap

    &__item
      padding-right 12px

  &__d
    position absolute
    padding 15px 16px
    display flex
    flex-direction column
    background-color #fff
    border 1px solid #cccccc
    border-bottom 2px solid #000
    border-bottom-right-radius 4px
    border-bottom-left-radius 4px
    z-index: 2

    &__o
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      z-index 1
  
  &__m
    position absolute
    max-width calc(100% - 100px)
    max-height calc(100% - 200px)
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    padding 20px
    border-radius 4px
    background #fff
    overflow-y auto
    z-index: 2

    &__o
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      z-index 1

  &__cl
    ul
      display flex
      flex-flow row wrap
      padding-left 0

    li
      padding 4px 5px
      list-style none
      cursor pointer
  